{% extends 'base.html' %}

{% block title %}List places{% endblock %}

{% block javascript %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e5a4d9ff-cd10-4812-ae25-6b158dba3edb&lang=ru_RU" type="text/javascript">
    </script>
{% endblock %}

{% block content %}
    <div>
        <div id="map" style="width: 600px; height: 400px"></div>
    </div>
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 0
        });
    }
</script>
{% endblock %}