{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Add places" %}{% endblock %}

{% block javascript %}
<script
    src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=e5a4d9ff-cd10-4812-ae25-6b158dba3edb"
    type="text/javascript"
></script>
{% endblock %}

{% block content %}
    <form class="d-flex flex-column" method="post" action="{% url 'collector:add-place' %}">
        {% csrf_token %}
        <div id='map' style="width: 100%; height: 600px;"></div>
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% trans "Add place" %}</button>
    </form>
{% endblock %}

{% block inline_javascript %}
<script>
function setCookie(name, value, days) {
    if (days > 0) {
      let seconds = new Date().getTime() + 60 * 60 * 24 * days;
      let date = new Date(seconds).toUTCString();
      document.cookie = `${name}=${encodeURIComponent(value)};expires=${date};path=/`;
    } else {
      document.cookie = `${name}=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC`;
    }
}
setCookie("latitude", "", -1)
setCookie("longitude", "", -1)
ymaps.ready(init);
var myMap;

function init() {
    myMap = new ymaps.Map("map", {
        center: [57.5262, 38.3061],
        zoom: 0,
    }, {
        balloonMaxWidth: 200,
        searchControlProvider: 'yandex#search'
    });
    myMap.events.add('click', function (e) {
        if (!myMap.balloon.isOpen()) {
            var coords = e.get('coords');
            myMap.balloon.open(coords, {
                contentBody:'<p>Выбрана точка.</p>' +
                    '<p>Координаты точки: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6)
                    ].join(', ') + '</p>',
            });
            setCookie("latitude", coords[0], 1)
            setCookie("longitude", coords[1], 1)
        }
        else {
            myMap.balloon.close();
        }
    });
    myMap.events.add('balloonclose', function (e) {
        setCookie("latitude", "", -1)
        setCookie("longitude", "", -1)
    });
}
</script>
{% endblock %}