{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Update place" %}{% endblock %}

{% block javascript %}
<script
    src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=e5a4d9ff-cd10-4812-ae25-6b158dba3edb"
    type="text/javascript"
></script>
{% endblock %}

{% block content %}
    <form class="d-flex flex-column align-items-center" method="post" action="{% url 'collector:update-place' place.pk %}">
        {% csrf_token %}
        <div id='map' style='width: 700px; height: 400px;'></div>
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% trans "Update place" %}</button>
        <div id="latitude" class="d-none">{{ place.latitude }}</div>
        <div id="longitude" class="d-none">{{ place.longitude }}</div>
    </form>
{% endblock %}

{% block inline_javascript %}
<script>
function setCookie(name, value, days) {
    if (days > 0) {
        let seconds = new Date().getTime() + 60 * 60 * 24 * days;
        let date = new Date(seconds).toUTCString();
        document.cookie =
        name + `=${encodeURIComponent(value)};expires=${date};path=/`;
    } else {
        document.cookie = name + `=${encodeURIComponent(value)};path=/`;
    }
}
ymaps.ready(init);
var myMap;
let latitude = document.getElementById("latitude").innerText
let longitude = document.getElementById("longitude").innerText
const points = [
    Number(latitude.replace(",", ".")),
    Number(longitude.replace(",", ".")),
]
setCookie("latitude", points[0], 7)
setCookie("longitude", points[1], 7)

function init() {
    myMap = new ymaps.Map("map", {
        center: points,
        zoom: 0,
    }, {
        balloonMaxWidth: 200,
        searchControlProvider: 'yandex#search'
    });
    myMap.geoObjects
    .add(new ymaps.Placemark(points, {
        balloonContent: "{{ place.name }}<br>{{ place.description }}"
    }, {
        preset: 'islands#circleIcon',
        iconColor: '#3caa3c'
    }));

    myMap.events.add('click', function (e) {
        if (!myMap.balloon.isOpen()) {
            var coords = e.get('coords');
            myMap.balloon.open(coords, {
                contentBody:'<p>Выбрана точка.</p>' +
                    '<p>Координаты точки: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6)
                    ].join(', ') + '</p>',
            });
            setCookie("latitude", coords[0], 7)
            setCookie("longitude", coords[1], 7)
        }
        else {
            myMap.balloon.close();
        }
    });

    // Hiding the hint when opening the balloon.
    myMap.events.add('balloonopen', function (e) {
        myMap.hint.close();
    });
}
</script>
{% endblock %}